<odoo>
    <data>
        <menuitem id="main_odoo_no_basico" name="Menú Nivel 0. Basico"/>
        <menuitem id="menu_informacion" name="Menú Nivel 1. Información" parent="main_odoo_no_basico" action="informacion_list_action"/>
        <menuitem id="menu_suceso" name="Menú Nivel 1. Suceso" parent="main_odoo_no_basico" action="suceso_list_action"/>
    </data>
</odoo>